<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Artifact</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!-- Bootstrap Tagsinput CSS -->
	<link rel="stylesheet" href="../artifact/assets/css/bootstrap-tagsinput.css">

	<!-- Lottie-player Animations -->
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

	<!-- Bootstrap Date Picker-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Bootstrap Tagsinput JS -->
	<script src="../artifact/assets/js/bootstrap-tagsinput.js"></script>

	<!-- Font Awesome CDN -->
	<script src="https://kit.fontawesome.com/010fb4b3e5.js"></script>

	<link rel="stylesheet" href="../artifact/assets/css/main.css" />
	<link rel="stylesheet" href="../artifact/assets/css/uploadStyle.css" />
	<link rel="stylesheet" href="../artifact/assets/css/profile-photo-style.css">

	<!-- For adding discussion board-->
	<link rel="stylesheet" href="../artifact/assets/css/discussion-forum-mainStyle.css">

	<!-- Navigation Bar -->
	<link rel="stylesheet" href="../navigation-bar/assets/css/nav-main.css" />
	<noscript><link rel="stylesheet" href="../navigation-bar/assets/css/noscript.css"/></noscript>
	<link rel="stylesheet" href="../navigation-bar/assets/css/logout.css">

	<!-- Artifact Image slideshow -->>
	<link rel="stylesheet" href="../artifact/assets/css/artifact.css" />




</head>

<!-- Navigation Bar  -->
<header id="navigation-header">
	<h1><a href="">Catalogue</a></h1>
	<nav id="nav">
		<ul>
			<li class="special">
				<!-- menu text deleted -->
				<a href="#menu" class="menuToggle"></a>
				<div id="menu">
					<!-- Profile Photo -->
					<div class="navigation-profile-upload-container">
						<a href="#"><span class="fas fa-camera"></span></a>
						<img src="https://a.wattpad.com/cover/118909309-288-k772835.jpg" class="img-thumbnail img-circle img-responsive" alt="profile photo">
					</div>

					<!-- Username :-> leads to the profile page -->
					<div class="user-name" style="text-align: center;">
						<a href="#" ><h2 class="underline-animation">Tom Holland</h2></a>
					</div>

					<!-- User Profile Information -->
					<div class="user-info">
						<h3>Relationship</h3>
						<h3>No. of Artifacts Added</h3>
						<h3>Date Joined</h3>
					</div>

					<div hidden>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>

					<!-- Discussion Button -->
					<div class="discussion-board-button-container">
						<a class="discussion-board-button" href="">
							<img id="discussion-board-icon-img" src="https://image.flaticon.com/icons/svg/1205/1205495.svg">
							<div class="discussion-board">DISCUSSION</div>
						</a>
					</div>

					<!-- Home Button -->
					<div class="home-button-container">
						<a class="home-button" href="">
							<img id="home-icon-img" src="https://image.flaticon.com/icons/svg/1300/1300624.svg" alt="home-button">
							<div class="home">HOME</div>
						</a>
					</div>

					<!-- Logout Button -->
					<div class="logout-container">
						<form id="form1" action="/logout" method="POST">
							<a href="javascript:;" onclick="document.getElementById('form1').submit();" class="logout-button">
								<img id="logout-photo" src="https://image.flaticon.com/icons/svg/1300/1300674.svg" alt="logout button">
								<div class="logout">LOGOUT</div>
							</a>
						</form>
					</div>

				</div>
			</li>
		</ul>
	</nav>
</header>

<body class="is-preload">

<!-- Header -->
<header id="header" style="z-index:9;">
	<lottie-player src="https://assets8.lottiefiles.com/temp/lf20_RTai6J.json" background="transparent" speed="0.2" style="width: 100px; height: 100px; margin-top:-80px;" loop autoplay>
	</lottie-player>

	<div class="slideshow-container" style="max-width:500px">
		<img class="mySlides" src="images/dragon.jpg" style="width:100%">
		<img class="mySlides" src="images/lantern.jpg" style="width:100%">
	</div>


	</head>
</header>

<!-- Main Forms -->
<div id="main">

	<div class="form-container">

		<div id="name"> ARTIFACT NAME</div>
		<div id="year"> 2019 </div><br>
		<div id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe omnis beatae libero quisquam ex nostrum repellendus, consectetur suscipit. Velit iusto ducimus sit quos officiis nesciunt libero, officia, aliquam doloremque totam.
			Ratione natus expedita iusto, minus cumque vitae quo culpa reiciendis aspernatur aliquam veritatis magnam non, dicta nemo inventore, nisi quas dolores. Modi laboriosam sunt aliquid rem, deserunt quis? Porro, hic.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe omnis beatae libero quisquam ex nostrum repellendus, consectetur suscipit. Velit iusto ducimus sit quos officiis nesciunt libero, officia, aliquam doloremque totam.
			Ratione natus expedita iusto, minus cumque vitae quo culpa reiciendis aspernatur aliquam veritatis magnam non, dicta nemo inventore, nisi quas dolores. Modi laboriosam sunt aliquid rem, deserunt quis? Porro, hic.</div><br>
		<div id="tags">
			<span class="tag">#ancient</span>
			<span class="tag">#precious</span>
		</div><br>

		<!-- We don't really need this part tbh. Feel free to delete it!-->
		<!--<form id="addForm" method="post" action="/artifacts/add-artifact" enctype="multipart/form-data">
			<div class="container">
				<div class="array">
					<div class="preview-images-zone">
					</div>
				</div>
			</div>
		</form>-->

		<!-- Edit Artifact Button (navigate to edit arrtifact page) -->
		<!-- Delete Artifact Button (trigger modal on clicking for deletion of artifact) -->
		<section>
			<ul class="actions">
				<li><button type="submit" value="Edit Artifact" class="edit-artifact-button"><a href="../edit-artifact/edit-artifact.html">Edit Artifact</a></button></li>
				<!-- tag changed to <button></button> to avoid css clash -->
				<li><button href="javascript:;" onclick="document.getElementById('form1').submit();" class="delete-artifact-button" data-toggle="modal" data-target="#myModal" formmethod="post">Delete Artifact</button></li>
			</ul><br>
		</section>

		<!-- Start Issue Artifact Button (navigate to discussion forum) -->
		<section>
			<ul class="actions">
				<li><button type="submit" value="Start Issue" class="start-issue-button"><a href="#add-issue-form">Start Issue</a></button></li>
			</ul><br>
		</section>
		<script>
			$(".start-issue-button").click(function () {
				$(".add-issue").fadeIn();
			});
		</script>



	</div>

	<!-- Discussion Board Main -->
	<div id="discussion-main">

		<!-- Add new issue Form-->
		<article class="add-issue" id="add-issue-form" style="display:none;">

			<!-- Author -->
			<header>
				<a href="#" class="author"><span class="name">Tom Holland</span><img src="https://a.wattpad.com/cover/118909309-288-k772835.jpg" alt="profile photo"/></a>
				<span class="close">x</span>
				<script>
					$(".close").click(function () {
						$(".add-issue").hide();
					});
				</script>
			</header>

			<div class="form-container">
				<form method="post" action="/discussion-board/create-issue">

					<!-- Issue Title -->
					<div><input type="text" required="" name="topic"  placeholder="Enter Issue Title"></div><br>
					<!-- Issue Description -->
					<div><textarea name="description" placeholder="Description" ></textarea></div>

					<!-- Post Button -->
					<ul class="actions">
						<li><input type="submit" class="button small" value = "Post"/></li>
					</ul>

				</form>
			</div>

		</article>


		<!-- Issue 1-->
		<article class="issue" >

			<header>
				<!-- Issue title + short description -->
				<div class="issue-title">
					<h2>
						<!-- Metta: get issue by id -->
						<a href="issue-details-page.html">whej dsfsej wehajk whej wehajk w whej</a>
					</h2>
					<p>short description</p>
				</div>

				<!-- Posted Time + Profile photo -->
				<div class="issue-info">
					<time class="published" datetime="2015-11-01">November 1, 2015gjgguyewguyfguyefguyfguywegfuyweguywegfuyegwf</time>
					<a href="#" class="author"><span class="name">Tom Holland</span><img src="https://a.wattpad.com/cover/118909309-288-k772835.jpg" alt="profile photo"/></a>
				</div>
			</header>

			<!-- Details -->
			<p>talk talk talk talk talk........</p>

			<footer>
				<!-- Get rid of this -->
				<ul class="actions">
					<li><a href="issue-details-page.html" class="button small">Continue Reading</a></li>
				</ul>

				<!-- the Number of Likes and Comments -->
				<ul class="stats">
					<li><a href="#" class="icon solid fa-heart">28</a></li>
					<li><a href="#" class="icon solid fa-comment">128</a></li>
				</ul>
			</footer>
		</article>


		<!-- Issue 2-->
		<article class="issue">

			<header>
				<!-- Issue title + short description -->
				<div class="issue-title">
					<h2><a href="issue-details-page.html">Issue Title</a></h2>
					<p>short description</p>
				</div>

				<!-- Posted Time + Profile photo -->
				<div class="issue-info">
					<time class="published" datetime="2015-11-01">November 1, 2015</time>
					<a href="#" class="author"><span class="name">Tom Holland</span><img src="https://a.wattpad.com/cover/118909309-288-k772835.jpg" alt="profile photo"/></a>
				</div>
			</header>

			<!-- Details -->
			<p>talk talk talk talk talk........</p>

			<footer>
				<!-- Get rid of this -->
				<ul class="actions">
					<li><a href="issue-details-page.html" class="button small">Continue Reading</a></li>
				</ul>

				<!-- the Number of Likes and Comments -->
				<ul class="stats">
					<li><a href="#" class="icon solid fa-heart">28</a></li>
					<li><a href="#" class="icon solid fa-comment">128</a></li>
				</ul>
			</footer>
		</article>

		<!-- Issue 3 -->
		<article class="issue">

			<header>
				<!-- Issue title + short description -->
				<div class="issue-title">
					<h2><a href="issue-details-page.html">Issue Title</a></h2>
					<p>short description</p>
				</div>

				<!-- Posted Time + Profile photo -->
				<div class="issue-info">
					<time class="published" datetime="2015-11-01">November 1, 2015</time>
					<a href="#" class="author"><span class="name">Tom Holland</span><img src="https://a.wattpad.com/cover/118909309-288-k772835.jpg" alt="profile photo"/></a>
				</div>
			</header>

			<!-- Details -->
			<p>talk talk talk talk talk........</p>

			<footer>
				<!-- Get rid of this -->
				<ul class="actions">
					<li><a href="issue-details-page.html" class="button small">Continue Reading</a></li>
				</ul>

				<!-- the Number of Likes and Comments -->
				<ul class="stats">
					<li><a href="#" class="icon solid fa-heart">28</a></li>
					<li><a href="#" class="icon solid fa-comment">128</a></li>
				</ul>
			</footer>
		</article>

		<!-- Pagination -->
		<section>
			<ul class="actions">
				<li><button type="submit" value="Previous Page" class="previous-page-button"><a href="">Previous Page</a></button></li>
				<li><button type="submit" value="Next Page" class="next-page-button"><a href="">Next Page</a></button></li>
			</ul><br>
		</section>

	</div>
</div>







<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" onclick="myFunction()" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Ticket Issued!</h4>
			</div>
			<div class="modal-body">
				<p>Your request to delete the artifact has been sent for admin approval! </p>
			</div>
		</div>

	</div>
</div>

<script>
	var myIndex = 0;
	carousel();

	function carousel() {
		var i;
		var x = document.getElementsByClassName("mySlides");
		for (i = 0; i < x.length; i++) {
			x[i].style.display = "none";
		}
		myIndex++;
		if (myIndex > x.length) {myIndex = 1}
		x[myIndex-1].style.display = "block";
		setTimeout(carousel, 3000);     // Change image every 3 seconds
	}
</script>


<!-- Scripts -->
<script src="../navigation-bar/assets/js/jquery.min.js"></script>
<script src="../navigation-bar/assets/js/jquery.scrollex.min.js"></script>
<script src="../navigation-bar/assets/js/jquery.scrolly.min.js"></script>
<script src="../navigation-bar/assets/js/browser.min.js"></script>
<script src="../navigation-bar/assets/js/breakpoints.min.js"></script>
<script src="../navigation-bar/assets/js/util.js"></script>
<script src="../navigation-bar/assets/js/main.js"></script>

</body>
</html>
