// Comment 1
.comment
  // Profile Photo + Username
  a.comment-author(href='#')
    img(src='https://a.wattpad.com/cover/118909309-288-k772835.jpg', alt='profile photo')
    | Response1(username)
  // Actual Comment
  p.comment-content  Okay. Cap. Captain. Big fan. I'm Spider-Man.
  footer.comment-footer(style='border:1px solid red;')
    // the Number of Likes and Comments
    ul.stats
      li
        a.icon.solid.fa-heart(href='#') 0
      li
        a.icon.solid.fa-comment 2
    // Comment time
    ul.posted-time
      span 1 Oct @ 11:41pm
    // Reply Button
    ul.arrow-wrapper
      a.reply-button
        i.fas.fa-reply
  // Comment Input Box
  .form-container(style='display:none;')
    form(method='post', action='')
      // Reply Input
      .example
        div(data-emojiarea='', data-type='unicode', data-global-picker='true')
          .emoji-button 😄
          textarea#input1(name='reply', rows='5', placeholder='I am thinking ...')
      // Comment Button
      ul.actions
        li
          a.button.small(href='#') Comment
