#forgot-password-box{
    background: white;
    margin-top: -5%;
    height:120%;
    width:50%;
    margin-left: auto;
    margin-right: auto;

}

/* Lock Image */
.lock-icon
{
    width:150px;
    height:150px;
    object-fit: cover;
    margin-top: 40px;
}

/* Input Box + Send Button */
.email-wrapper
{
    margin-top: 40px;
}

/* Input Box */
input[type="email"]{
    background: #f7f7f7;
    border-radius: 0.35em;
    border: solid 2px transparent;
    color: inherit;
    outline: 0;
    text-decoration: none;
    box-shadow:none;
    height:2.4em;
    padding-left:10px;
    width:55%;
}

input[type="email"]:focus
{
    transition:0.8s;
    border-color:#0c8faf;
}

/* Right-Arrow Button */
.send-email-button {
    position: absolute;
    background: #ffffff;
    color: #999999;
    padding: 0 0;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 2px;
    border: 3px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
    cursor:pointer;
}
.send-email-button:hover {
    color: #555555;
    transform: rotate(450deg);
}
.send-email-button.clicked {
    color: #555555;
}
.send-email-button.clicked:hover {
    transform: none;
}

/* Go Back to the Homepage Wrapper */
.goBack-wrapper
{
    margin-top: 40px;
}
.goBack-wrapper p
{
    color:grey;
}

.goBack-wrapper a
{
    color: #0b4c65;
}

.goBack-wrapper a:hover
{
    text-decoration: none;
    color: rgb(128,179,255);
    transition:0.5s;
}