#forgot-password-box,
#reset-password-box{
    background: white;
    margin-top: -5%;
    height:120%;
    width:50%;
    margin-left: auto;
    margin-right: auto;

}

/* Lock Image */
.lock-icon
{
    width:150px;
    height:150px;
    object-fit: cover;
    margin-top: 40px;
}

/* Input Box + Send Button */
.email-wrapper,
.password-wrapper
{
    margin-top: 40px;
}

/* Input Box */
input[type="email"],
#reset-password,
#confirm-password{
    background: #f7f7f7;
    border-radius: 0.35em;
    border: solid 2px transparent;
    color: inherit;
    outline: 0;
    text-decoration: none;
    box-shadow:none;
    height:2.4em;
    padding-left:10px;
    width:55%;
}

#confirm-password
{
    margin-top: 10px;
}

input[type="email"]:focus,
#reset-password:focus,
#confirm-password:focus
{
    transition:0.8s;
    border-color:#0c8faf;
}

input[type="checkbox"]{
    margin-left: 100px;
}

/* Right-Arrow Button */
.send-email-button {
    position: absolute;
    background: #ffffff;
    color: #999999;
    padding: 0 0;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 2px;
    border: 3px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
    cursor:pointer;
}
.reset-password-button {
    position: absolute;
    background: #ffffff;
    color: #999999;
    padding: 0 0;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
    border: 3px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
    cursor:pointer;
}

.send-email-button:hover,
.reset-password-button:hover{
    color: #555555;
    transform: rotate(450deg);
}
.send-email-button.clicked,
.reset-password-button.clicked{
    color: #555555;
}
.send-email-button.clicked:hover,
.reset-password-button.clicked:hover{
    transform: none;
}

/* Go Back to the Homepage Wrapper */
.goBack-wrapper
{
    margin-top: 40px;
}
.goBack-wrapper p
{
    color:grey;
}

.goBack-wrapper a
{
    color: #0b4c65;
}

.goBack-wrapper a:hover
{
    text-decoration: none;
    color: rgb(128,179,255);
    transition:0.5s;
}


/* Basic Layout */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    /* background-color: #faf2f2;*/
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    height: 100%;
    background: rgb(28,165,195);
    background: linear-gradient(180deg, rgba(28,165,195,1) 0%, rgba(210,163,181,0.617926217765043) 34%, rgba(255,255,255,1) 86%);
}

/* Login Box */
#rectangle-background
{
    display: flex; /* modify after adding Login Button under the navigation bar (hidden by defult)*/
    height:400px;
    width:70%;
    position: center;
    margin-top: 40%; /* modify later */
    margin-left:15%; /* modify later */
    transform: translateY(-100%);
    /*margin: auto;*/
    text-align:center;
    background-color: rgba(17, 2, 38, 0.6);
    border-radius:2px;
}