doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Forgot Password
		link(href='../views/homepage/homepageStyle.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='../views/homepage/forgot-password-style.css', type='text/css')
		script(src='https://code.jquery.com/jquery-3.3.1.js')
		script(src='../views/homepage/loginFunctionality.js', type='text/javascript')
		// Font Awesome CDN
		script(src='https://kit.fontawesome.com/010fb4b3e5.js')
		// Bootstrap CDN
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
		script(src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	body
		.container
			if messages.error
				.alert.alert-danger
					div= messages.error
			if messages.info
				.alert.alert-info
					div= messages.info
			if messages.success
				.alert.alert-success
					div= messages.success
					.login-register-container
		.login-register-container
			// Log in Box
			#rectangle-background
				#forgot-password-box
					img.lock-icon(src='../views/homepage/lock.png', alt='Lock')
					h4 Forgot Password
					.email-wrapper
						form#form1(action='/forgot', method='POST')
							input(name='email', type='email', placeholder='Enter your email here.')
							a.send-email-button(onclick="document.getElementById('form1').submit();")
								i.fa.fa-chevron-right
					.goBack-wrapper
						p
							| Already have an account?   
							a(href='/') Login here.         
