<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Free Range Home Page</title>
    <link href="../views/homepage/homepageStyle.css" rel="stylesheet" type="text/css" >
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../views/homepage/loginFunctionality.js" type="text/javascript"></script>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

<div class="login-register-container">
    <!-- Log in Box -->
    <div id = "rectangle-background">

        <a href="#" id="welcome">Start the Journey of Memory
            <lottie-player id="finger-animation"
                           src="https://assets2.lottiefiles.com/packages/lf20_kjHP8m.json"  background="transparent"  speed="0.8"  style="width: 80px; height: 80px;"  loop  autoplay >
            </lottie-player>
        </a>

        <div id="choose-register" style="display: none;">
            <p>Don't Have an Account ?</p>
            <button id ="register-button"><span>Register</span></button>
        </div>

        <div id="choose-login" style="display:none">
            <p>Already Have an Account ?</p>
            <button id ="login-button"><span>Login</span></button>

        </div>


        <div id="toggle-layer" style="display:none;">

            <div id="register-form">
                <form method="post" action="/register" style="margin-top: -20px;">
                    <h1>Register</h1>
                    <!--Add pattern and maxlength later-->
                    <input required="" type="text" placeholder="Name" name="name" style="height: 20px;">
                    <input required="" type="text" placeholder="Username" name = "username" style="height: 20px;">
                    <input required="" type="text" placeholder="Relationship" name = "relationship" style="height: 20px;">
                    <input required="" type="text" placeholder="Email" name="email" style="height: 20px;">
                    <input required="" type="password" placeholder="Password" id="pwdShow1" name="pwd" style="height: 20px;">
                    <input required="" type="password" placeholder="Confirm Password" id="pwdShow2" name="pwdrepeat" style="height: 20px;">
                    <input type="checkbox" onclick="showPassword()">Show Password
                    <button class="form-button" type="submit">REGISTER</button>

                    <!-- Unnecessary -->
                    <!--<p>By creating an account you agree to our <a href="">Terms & Privacy</a>.</p>-->
                </form>

            </div>

            <div id="login-form">
                <form method="post" action="/login">
                    <h1>Login</h1>
                    <input required="" type="text" placeholder="Email" name="email">
                    <input required="" type="password" placeholder="Password" id="pwdShow3" name="pwd">
                    <input type="checkbox" onclick="showPassword()">Show Password<br><br>
                    <button class="form-button" type="submit" >LOGIN</button>
                    <a href="/forgot">Forgot password?</a>
                </form>
            </div>
        </div>

       <!--<div id="forgot-password-form">
            <img src="" alt="Lock">
            <input type="email" placeholder="email" name="email-verification">

        </div>-->

    </div>
</div>


<script>

    $(document).ready(function () {
        $('#welcome').click(function() {

            $('#choose-register').fadeIn(800);

            /*$('#choose-login').fadeIn(300);*/
            $('#toggle-layer').fadeIn(300);

            $('#welcome').css({
                'display': 'none'
            });
            $('#finger-animation').css({
                'display': 'none'
            });

        });

    });
</script>



</body>

</html>
