doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Reset Password
		link(rel='stylesheet', href='../views/homepage/forgot-password-style.css', type='text/css')
		script(src='https://code.jquery.com/jquery-3.3.1.js')
		script(src='../views/homepage/loginFunctionality.js', type='text/javascript')
		// Font Awesome CDN
		script(src='https://kit.fontawesome.com/010fb4b3e5.js')
		// Bootstrap CDN
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
		script(src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	body
		// Log in Box
		#rectangle-background
			#reset-password-box
				img.lock-icon(src='../views/homepage/lock.png', alt='Lock')
				h4 Reset Password
				.password-wrapper
					form#form1(method='POST')
						input#reset-password(required='', type='password', placeholder='Password', name='pwd')
						input#confirm-password(required='', type='password', placeholder='Confirm Password', name='pwdrepeat')
						a.reset-password-button(onclick="document.getElementById('form1').submit();")
							i.fa.fa-chevron-right
				input(type='checkbox', onclick='resetShowPassword()')
				span Show Password
				.goBack-wrapper
					p
						| Already have an account?   
						a(href='/') Login here.
        .container
			if messages.error
				.alert.alert-danger
					div= messages.error
			if messages.info
				.alert.alert-info
					div= messages.info
			if messages.success
				.alert.alert-success
					div= messages.success
					.login-register-container
