.container.comparision-lightbox
	// Close Light Box Button
	img.cross(src='close.svg', style='left: 1275px;bottom: 371px;top: 137px;')
	// Before
	.before
		// Artifact Name
		.before-info.name
			| Artifact Name:
			h5 spoon
		// Tags
		.before-info.tags
			p.tag-title Tags
			h5.tag(style='display:inline-block;') food
			h5.tag(style='display:inline-block;') ?
			h5.tag(style='display:inline-block;') ?
		// Region
		.before-info.region
			| Region:
			h5 AAAAAA
		// Year
		.before-info.year
			| Year:
			h5 1999
		// Images
		.before-info.artifact-image
			p.image-title Images
			img(src='../navigation-bar/assets/css/images/sky.jpg')
			img(src='../navigation-bar/assets/css/images/sky.jpg')
			img(src='../navigation-bar/assets/css/images/sky.jpg')
			img(src='../navigation-bar/assets/css/images/sky.jpg')
			img(src='../navigation-bar/assets/css/images/sky.jpg')
		// Description
		.before-info.description
			| Description:
			h5
				| hsfhshkjhkehdshkjshfjsdhsjdhfskhfjsdhjkfhksjhdfkjhkshfksdhfkjhskjdhjejkshjhfjkhsjkhjeh
		// Reason for editing artifact
		.before-info.reason
			| Reason:
			h5
				| sffjskejeksjhkhefshfjkdshjkdshfjkhsdjkfhdsjkhfjksdhfjkdshfjkshjfdhsjkhjkdshfkjskjhsjkfhsefjk
	// After
	.after
		// Artifact Name
		.after-info.name(style='margin-left: 50px;')
			| Artifact Name:
			h5 spoon
		// Tags
		.after-info.tags(style='margin-left: 50px;')
			p.tag-title Tags
			h5.tag(style='display:inline-block;') food
			h5.tag(style='display:inline-block;') ?
			h5.tag(style='display:inline-block;') ?
		// Region
		.after-info.region(style='margin-left: 50px;')
			| Region:
			h5 BBBBBB
		// Year
		.after-info.year(style='margin-left: 50px;')
			| Year:
			h5 1999
		// Images
		.after-info.artifact-image(style='margin-left: 50px;')
			p.image-title Images
			img(src='../navigation-bar/assets/css/images/sky.jpg')
			img(src='../navigation-bar/assets/css/images/sky.jpg')
			img(src='../navigation-bar/assets/css/images/sky.jpg')
			img(src='../navigation-bar/assets/css/images/sky.jpg')
			img(src='../navigation-bar/assets/css/images/sky.jpg')
		// Description
		.after-info.description(style='margin-left: 50px;')
			| Description:
			h5
				| sffjskejeksjhkhefshfjkdshjkdshfjkhsdjkfhdsjkhfjksdhfjkdshfjkshjfdhsjkhjkdshfkjskjhsjkfhsefjk
		// Reason for editing artifact
		.after-info.reason(style='margin-left: 50px;')
			| Reason:
			h5
				| sffjskejeksjhkhefshfjkdshjkdshfjkhsdjkfhdsjkhfjksdhfjkdshfjkshjfdhsjkhjkdshfkjskjhsjkfhsefjk
