<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No Access to the Admin Page</title>
    <!-- Lottie-Player Animations -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>
<body>

<div id="awaiting-request-container">

    <div style="width:500px;height:300px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); border:1px solid #e1e1e1">

        <lottie-player
                src="https://assets2.lottiefiles.com/datafiles/iXCWwc3IiFNWPPs/data.json"  background="transparent"  speed="0.5"  style="position:fixed;top:20%;left:50%;transform:translate(-50%,-50%);width: 100px; height: 100px;"   autoplay >
        </lottie-player>

        <div style="position: absolute; left: 50%; top: 60%; transform: translate(-50%, -50%); text-align: center;">
            <h2>Sorry!</h2>
            <h4 style="color: #949494">You Do Not Have Access to This Page</h4>
            <h4 style="color: #949494">Please contact Mr's Tan for the access</h4>

        </div>

    </div>

</div>

</body>
</html>