<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Issue Details Page </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="../discussion-board/assets/css/discussion-forum-mainStyle.css" />
    <link rel="stylesheet" href="../discussion-board/assets/css/issue-details-extraStyle.css">


    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="./emoji-assets/css/reset.css">
    <link rel="stylesheet" href="./emoji-assets/css/style.css">
    <link rel="stylesheet" href="./emoji-assets/css/stylesheet.css">

    <script src="./emoji-assets/js/jquery.emojiarea.js"></script>
    <script src="./emoji-assets/js/main.js"></script>

</head>

<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Sidebar + Header -->
    <section id="sidebar">
        <!-- Intro -->
        <section id="intro">
            <!--<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>-->
            <header>
                <p>discussion board </p>
                <a href="start-new-issue.html" class="button large">Start New Issue</a>
            </header>

        </section>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- Issue 1-->
        <article class="issue">
            <!-- Author -->
            <header>
                <a href="#" class="author"><img src="https://a.wattpad.com/cover/118909309-288-k772835.jpg" alt="profile photo"/></a>
                <h4>Issue Title</h4>
            </header>

            <!-- Image if there's any -->
            <a href="#" class="image featured"><img src="../views/discussion-board/assets/css/images/galaxy.jpg" alt="" /></a>

            <!-- Details -->
            <p>talk talk talk talk talk........</p>

            <footer>

                <!-- the Number of Likes and Comments -->
                <ul class="stats">
                    <li><a href="#" class="icon solid fa-heart">4</a></li>
                    <li><a href="#" class="icon solid fa-comment">1</a></li>
                </ul>

                <ul class="posted-time">
                    <span>1 Oct @ 11:41pm</span>
                </ul>

                <ul>
                    <a href="#direct-reply"><i class="fas fa-reply"></i></a>
                </ul>
            </footer>
        </article>

        <!-- Posted Replies -->
        <article class="comment-container">

            <!-- the Number of Total Comments -->
            <header>
                <h4>Comment (2)</h4>
            </header>

            <div class="comment-wrapper">

                <!-- Comment 1 -->
                <div class="comment">
                    <!-- Profile Photo + Username -->
                    <a href="#" class="comment-author"><img src="https://a.wattpad.com/cover/118909309-288-k772835.jpg" alt="profile photo"/>Response1(username)</a>
                    <!-- Actual Comment -->
                    <p class="comment-content"> Okay. Cap. Captain. Big fan. I'm Spider-Man.</p>
                    <footer>

                        <!-- the Number of Likes and Comments -->
                        <ul class="stats">
                            <li><a href="#" class="icon solid fa-heart">0</a></li>
                            <li><a class="icon solid fa-comment">2</a></li>
                        </ul>

                        <!-- Comment time -->
                        <ul class="posted-time">
                            <span>1 Oct @ 11:41pm</span>
                        </ul>

                        <!-- Reply Button -->
                        <ul>
                            <a class="reply-button"><i class="fas fa-reply"></i></a>
                        </ul>
                    </footer>

                    <!-- Comment Input Box -->
                    <div class="form-container" style="display:none;">
                        <form method="post" action="">

                            <!-- Reply Input -->
                            <div class="example">
                                <div data-emojiarea data-type="unicode" data-global-picker="true">
                                    <div class="emoji-button">&#x1f604;</div>
                                    <textarea name="reply" id="input1" rows="5" placeholder="I am thinking ..."></textarea>
                                </div>
                            </div>


                            <!-- Comment Button -->
                            <ul class="actions">
                                <li><a href="#" class="button small">Comment</a></li>
                            </ul>

                        </form>
                    </div>


                    <!-- the First Reply to Comment1 <-- Comment 1a -->
                    <div class="comment">
                        <a href="#" class="comment-author"><img src="https://cdn.onebauer.media/one/empire-legacy/uploaded/iron-man-avengers-robert-downey-jr.jpg?quality=50&width=1800&ratio=16-9&resizeStyle=aspectfill&format=jpg" alt="profile photo"/>
                            Response1a
                        </a>
                        <p class="comment-content">Haha</p>
                        <footer>

                            <!-- the Number of Likes and Comments -->
                            <ul class="stats">
                                <li><a href="#" class="icon solid fa-heart">0</a></li>
                                <li><a class="icon solid fa-comment">1</a></li>
                            </ul>

                            <!-- Comment time -->
                            <ul class="posted-time">
                                <span>1 Oct @ 11:41pm</span>
                            </ul>

                            <!-- Reply Button -->
                            <ul>
                                <a class="reply-button"><i class="fas fa-reply"></i></a>
                            </ul>
                        </footer>

                        <!-- Comment Input Box -->
                        <div class="form-container" style="display:none;">
                            <form method="post" action="">

                                <!-- Reply Input -->
                                <div class="example">
                                    <div data-emojiarea data-type="unicode" data-global-picker="true">
                                        <div class="emoji-button">&#x1f604;</div>
                                        <textarea name="reply" id="input1" rows="5" placeholder="I am thinking ..."></textarea>
                                    </div>
                                </div>

                                <!-- Comment Button -->
                                <ul class="actions">
                                    <li><a href="#" class="button small">Comment</a></li>
                                </ul>

                            </form>
                        </div>
                        <!-- Reply to Comment 1a <- Comment 1aa -->
                        <div class="comment">
                            <a href="#" class="comment-author"><img src="https://cdn.vox-cdn.com/thumbor/oPI4IIlzlf-2FGbsRAU1gWcers4=/0x0:3000x2000/1200x800/filters:focal(1239x559:1719x1039)/cdn.vox-cdn.com/uploads/chorus_image/image/63670785/daniel_which_hulk_marvel_ringer.0.jpg" alt="profile photo"/>
                                Response1aa
                            </a>
                            <p class="comment-content">Hahaha</p>
                            <footer>

                                <!-- the Number of Likes and Comments -->
                                <ul class="stats">
                                    <li><a href="#" class="icon solid fa-heart">0</a></li>
                                    <li><a class="icon solid fa-comment">0</a></li>
                                </ul>

                                <!-- Comment time -->
                                <ul class="posted-time">
                                    <span>1 Oct @ 11:41pm</span>
                                </ul>

                                <!-- Reply Button -->
                                <ul>
                                    <a class="reply-button"><i class="fas fa-reply"></i></a>
                                </ul>
                            </footer>

                            <!-- Comment Input Box -->
                            <div class="form-container" style="display:none;">
                                <form method="post" action="">

                                    <!-- Reply Input -->
                                    <div class="example">
                                        <div data-emojiarea data-type="unicode" data-global-picker="true">
                                            <div class="emoji-button">&#x1f604;</div>
                                            <textarea name="reply" id="input1" rows="5" placeholder="I am thinking ..."></textarea>
                                        </div>
                                    </div>

                                    <!-- Comment Button -->
                                    <ul class="actions">
                                        <li><a class="post-comment button small">Comment</a></li>
                                    </ul>

                                </form>
                            </div>

                        </div>
                    </div>

                    <!-- the Second Reply to Comment1 <-- Comment 1b -->
                    <div class="comment">
                        <a href="#" class="comment-author"><img src="https://www.screengeek.net/wp-content/uploads/2018/09/avengers-4-captain-america.jpg" alt="profile photo"/>
                            Response1b
                        </a>
                        <p class="comment-content">Hahahaha</p>
                        <footer>

                            <!-- the Number of Likes and Comments -->
                            <ul class="stats">
                                <li><a href="#" class="icon solid fa-heart">0</a></li>
                                <li><a class="icon solid fa-comment">0</a></li>
                            </ul>

                            <!-- Comment time -->
                            <ul class="posted-time">
                                <span>1 Oct @ 11:41pm</span>
                            </ul>

                            <!-- Reply Button -->
                            <ul>
                                <a class="reply-button"><i class="fas fa-reply"></i></a>
                            </ul>
                        </footer>

                        <!-- Comment Input Box -->
                        <div class="form-container" style="display:none;">
                            <form method="post" action="">

                                <!-- Reply Input -->
                                <div class="example">
                                    <div data-emojiarea data-type="unicode" data-global-picker="true">
                                        <div class="emoji-button">&#x1f604;</div>
                                        <textarea name="reply" id="input1" rows="5" placeholder="I am thinking ..."></textarea>
                                    </div>
                                </div>

                                <!-- Comment Button -->
                                <ul class="actions">
                                    <li><a href="#" class="button small">Comment</a></li>
                                </ul>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </article>


        <!-- Direct reply to the thread -->
        <article class="issue" id="direct-reply">
            <header>
                <a href="#" class="author"><img src="https://a.wattpad.com/cover/118909309-288-k772835.jpg" alt="profile photo"/></a>
            </header>

            <div class="form-container">
                <form method="post" action="">

                    <!-- Reply Input -->
                    <div class="example">
                        <div data-emojiarea data-type="unicode" data-global-picker="true">
                            <div class="emoji-button">&#x1f604;</div>
                            <textarea name="reply" id="input1" rows="5" placeholder="I am thinking ..."></textarea>
                        </div>
                    </div>

                    <!-- Comment Button -->
                    <ul class="actions">
                        <li><a href="#" class="button small" >Comment</a></li>
                    </ul>

                </form>
            </div>

        </article>

        <!-- Pagination -->
        <ul class="actions pagination">
            <li><a href="" class="disabled button large previous">Previous Page</a></li>
            <li><a href="#" class="button large next">Next Page</a></li>
        </ul>
    </div>

</div>



<!-- Reply Button Toggle -->
<script>
    $(document).ready(function(){
        $(document).on('click' , '.reply-button' , function(){
            var closestDiv = $(this).closest('footer'); // also you can use $(this).parent()
//closestDiv.fadeOut();
            // $('.comment_reply').not(closestDiv.next('.comment_reply')).hide();
//$('.rep').closest('div').not(closestDiv).show()
            closestDiv.next('.form-container').slideToggle(100);
        });
        $(document).on('click' , '.fa-comment' , function(){
            var closestDiv = $(this).closest('footer'); // also you can use $(this).parent()
//closestDiv.fadeOut();
            // $('.comment_reply').not(closestDiv.next('.comment_reply')).hide();
//$('.rep').closest('div').not(closestDiv).show()
            closestDiv.next('.form-container').slideToggle(100);
        });
    });
</script>




</body>
</html>
