@import url(https://fonts.googleapis.com/css?family=Oswald:400);


.discussion-board-button-container{
    width: 100%;        /* float to the right */
    margin-top: 0px;
    text-decoration: none;
}

.logout-container{
    width: 100%;        /* float to the right */
    margin-top: 150px;
    text-decoration: none;
}
.home-button-container{
    width: 100%;        /* float to the right */
    margin-top: 80px;
    text-decoration: none;
}



#logout-photo, #home-icon-img, #discussion-board-icon-img{
    width: 26px;
    height:26px;
    object-fit: cover; /* avoid stretching */
    border-radius: 50%;
    float: left;
}

.logout-button, .home-button, .discussion-board-button {
    text-decoration: none;
    float: right;
    padding: 6px;
    margin: 15px;
    width: 36px;
    background-color:rgba(244,240,240,0.6);
    border-radius: 20px;
    transition: width .35s;     /* width transition*/
    -webkit-transition: width .35s;
    overflow: hidden;
    border:0;                  /* to remove the dotted underline */

}

.logout-button:hover, .home-button:hover{
    width: 115px; /* the size of the hovered out logout button */
    z-index: 9;
}

.discussion-board-button:hover{
    width: 150px; /* the size of the hovered out logout button */
    z-index: 9;
}

.logout-button:hover .logout, .home-button:hover .home, .discussion-board-button:hover .discussion-board{
    opacity: .9;

}

.logout-button, .home-button, .discussion-board-button {
    text-decoration: none;
    outline:none;
    border:0;
}

/* text */
.logout, .home, .discussion-board {
    color:black;
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;         /* animation transition*/
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
    text-decoration: none;
}