<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="../node_modules/jquery.facedetection/dist/jquery.facedetection.min.js"></script>
  <title>MY APP</title>
</head>
<body>

Upload Artifact Images here!

</br>
</br>

<form action="/images/uploadImages"  enctype="multipart/form-data" method="POST">
  Select images: <input type="file" name="Images" multiple>
  <input type="submit" value="Upload your files"/>
</form>


</body>
</html>
