<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="../node_modules/jquery.facedetection/dist/jquery.facedetection.min.js"></script>
  <title>MY APP</title>
</head>
<body>

<form action="/images/upload-DP" enctype="multipart/form-data" method="POST" id="uploadForm">
	Choose and Upload Your Display Picture! </br></br>
  <input type="file" name="myImage" accept="image/*" id="image"/>
  <input type="submit" value="Upload Photo"/>
</form>
<img id="preview" hidden/>

<!-- Preview files before input, check if contains a face if uploading display picture -->
<!-- Source: https://www.codexworld.com/preview-image-before-upload-jquery/ -->
<script>
    var upload = 1;

    $('#uploadForm').on('submit', function(event){
        if (upload == 1){
            alert("Please upload an image with your face only!");
            event.preventDefault();
        }
    })

    $("#image").change(function () {
        filePreview(this);
    });
    function filePreview(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#uploadForm + embed').remove();
                $('#uploadForm').after('<embed src="'+e.target.result+'">');
                $('#preview').attr('src', e.target.result);
                $("#preview").faceDetection({
                    complete: function (faces) {
                        console.log(faces);
                        console.log(faces.length);
                        if (faces.length != 1) {
                            alert("Please upload an image with your face only!");
                        }
                        else{
                            upload = 0;
                        }
                    }
                })
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

</body>
</html>
